# imports
export("wizard")
import(MTurkR)
import(tcltk)
importFrom(XML, xmlParse)
importFrom(utils, browseURL)
importFrom(curl, curl_escape)
if (.Platform$OS.type=="windows") {
    importFrom(grDevices, bringToTop)
}
